body {
  background-image: url("background1.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

/* Header Section*/
#Header {
    margin-top: 200px;
    background-color: #fff;
    height: 200px;
    border-radius: 10px;
    opacity: .6;
}

#headerText {
    font-size: 60px;
    text-align: center;
}

#paragraph1 {
    font-size: 32px;
    text-align: center;
}

/* Arrow 1*/
#arrow1 {
    margin-top: 200px;
    margin-left: 46%;
    height: 100px;
    width: 100px;
    background-image: url("arrow1.png");
    border-radius: 50px;
}

/* Boxes*/
#mainBox {
    margin-top: 150px;
    border-radius: 10px;
    height: 850px;
    /* background-color: #fff; */
}
